@import 'colors.css';

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: var(--card-background-color);
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-color);
}

label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

input[type="email"],
input[type="password"] {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--input-border-color);
    width: 100%;
}

input[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: var(--button-hover-background-color);
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.success {
    background-color: var(--success-background-color);
    border-color: var(--success-border-color);
    color: var(--success-text-color);
}

.error {
    background-color: var(--error-background-color);
    border-color: var(--error-border-color);
    color: var(--error-text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}
