@import 'colors.css';

/* Restante do código que já estava em cadastro_style.css... */

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-password-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #6638f0;
    font-weight: bold;
    margin-left: 8px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    /* Restante do código de responsividade que já estava em cadastro_style.css... */
}
