@import 'colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height: 100%;
    background-attachment: fixed;

}
input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--input-border-color);
}
input[type="submit"] {
    font-size: 1rem;
    padding: 0.75rem;
    /* aumentado para adicionar mais altura */
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: none;
    background: #6638f0;
    color: var(--card-background-color);
    cursor: pointer;
}
input[type="submit"]:hover {
    background: rgb(162, 130, 203);
    background: linear-gradient(45deg, rgba(162, 130, 203, 1) 0%, rgba(218, 151, 146, 1) 100%);
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
}

#lista-produtos {
    display: flex;
    flex-wrap: wrap; /* Isso permite que os itens passem para a linha seguinte se não houver espaço suficiente na linha atual */
    justify-content: space-between; /* Isso adiciona espaço igual entre os produtos */
}

.produto {
    flex-basis: calc(33.33% - 2rem); /* Isso faz com que cada produto ocupe aproximadamente um terço do espaço disponível, subtraindo o espaço para a margem. */
    margin: 1rem; /* Isso adiciona algum espaço ao redor de cada produto */
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--card-background-color);
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.produto:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.produto h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.produto p {
    margin: 0.5rem 0 0;
    color: grey;
}


.modal {
    display: flex;
    flex-direction: column; /* Para posicionar os conteúdos um abaixo do outro */
    align-items: flex-start; /* Para alinhar os conteúdos à esquerda */
    padding: 1rem;
    background-color: var(--card-background-color);
    border-radius: 18px;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    max-width: 90%;
    width: 100%;
}

header {
    padding: 1.5rem 0;
    text-align: left; /* Para justificar o título à esquerda */
    color: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    position: relative;
    border-radius: 8px;
    width: 100%; /* Para que o header ocupe todo o espaço horizontal do modal */
}

header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

form {
    margin-bottom: 1.5rem;
}
label {
    display: inline-block;
    width: 180px;
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}
th,
td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
th {
    background-color: #f2f2f2;
}
.info-banner {
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.buttonEditar {
    background-color: var(--header-background-color);
    color: #6638f0;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}
/* .buttonCodigo {
    font-size: 1rem;
    padding: 0.75rem;
    
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: none;
    background: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

    color: var(--card-background-color);
    cursor: pointer;
} */
.codigo-gerado {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.alert {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.success {
    background-color: var(--success-color);
    color: white;
}
.error {
    background-color: var(--error-color);
    color: white;
}

button {
    font-size: 1rem;
    padding: 0.75rem;
    /* aumentado para adicionar mais altura */
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: none;
    background: #6638f0;
    /* background: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */
    color: var(--card-background-color);
    cursor: pointer;
}

/* .exportar {
    align-self: left;
} */







body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #efefef;
    font-weight: 300; }
  
  p {
    color: #b3b3b3;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }
  
  .custom-table {
    min-width: 900px; }
    .custom-table thead tr, .custom-table thead th {
      border-top: none;
      border-bottom: none !important; }
    .custom-table tbody th, .custom-table tbody td {
      color: #777;
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300; }
      .custom-table tbody th small, .custom-table tbody td small {
        color: #b3b3b3;
        font-weight: 300; }
    .custom-table tbody tr:not(.spacer) {
      border-radius: 7px;
      overflow: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody tr:not(.spacer):hover {
        -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1); }
    .custom-table tbody tr th, .custom-table tbody tr td {
      background: #fff;
      border: none; }
      .custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; }
      .custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
    .custom-table tbody tr.spacer td {
      padding: 0 !important;
      height: 10px;
      border-radius: 0 !important;
      background: transparent !important; }
  
  /* Custom Checkbox */
  .control {
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px; }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid #ccc;
    background: transparent; }
  
  .control--radio .control__indicator {
    border-radius: 50%; }
  
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    border: 2px solid #007bff; }
  
  .control input:checked ~ .control__indicator {
    border: 2px solid #007bff;
    background: #007bff; }
  
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
    border: 2px solid #ccc; }
  
  .control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none; }
  
  .control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff; }
  
  .control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52%);
    -ms-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%); }
  
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }
  
  .control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #007bff;
    opacity: .2;
    border: 2px solid #007bff; }
  