.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
}

.planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.plano-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
}

.plano-card:hover {
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

.plano-card h2 {
    margin-bottom: 1rem;
}

.plano-card h3 {
    margin-bottom: 1rem;
    color: #333;
}

.plano-card p {
    margin-bottom: 2rem;
}

.plano-card button {
    border: none;
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.plano-card button:hover {
    background: rgb(162, 130, 203);
    background: linear-gradient(45deg, rgba(162, 130, 203, 1) 0%, rgba(218, 151, 146, 1) 100%);
}